<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="WebSiteFilePath" value ="C:\Projects\Training\ReactExtensions\Headliner\Headliner\Files\Websites.json"/>
    <add key="WaitingGifFilePath" value="C:\Projects\Training\ReactExtensions\Headliner\Headliner\Files\Spinner.gif"/>
    <add key="DebugTraceLevel" value="True"/>
  </appSettings>  
</configuration>